.social-media-list {
    display: block;
    float: right;
}
.contact-list {
    display: block;
    float: left;
}
.site-footer {
    padding: 10px 0;
}

.tom-image {
    float: left;
    padding-right: 10px;
}
@media screen and (max-width: 600px) {
    .tom-image {
        float: none;
        display: block;
        text-align: center;
    }
}

@media (prefers-color-scheme: dark) {
    .dark-invert {
        filter: unquote("invert()");
    }
}
